<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            
            <!-- //@GetMapping("") - "" 은 /(루트)를 의미
		    //http://localhost:8080 을 브라우저 주소창에 입력
		    //templates 디렉토리의 index.html 로 이동
		    @GetMapping("")
		    public String home() {
		        return "index";
		    } 
	templates 디렉토리의 html 파일은 컨트롤러에서
	url mapping 되어야 브라우저로 접근할 수 있다. 기본적으로 MVC 패턴에서는
	view 에 해당하는 모든 웹페이지에 접근하려면 무조건 컨트롤러를 통해서
	접근해야 한다.
		    -->   
            <a href="/" class="navbar-brand">Dndlti</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" title="Blog / Facebook" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://slipp.net" target="_blank">SLiPP</a></li>
                        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    </ul>
                </li>
                <li><a href="/users" title="회원목록"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li><a href="../user/profile.html"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>
            
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->            
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active"><a href="../index.html">Posts</a></li> -->
                <li class="active"><a href="/">Posts</a></li>
                <li><a href="../user/login.html" role="button">로그인</a></li>
                
                <!-- UserController 에 url mapping
                @Controller
				@RequestMapping("/users")
				public class UserController {
                
                @GetMapping("/form")    
			    public String form() {
			        return "/users/form";
			    } 
			    -->
                <li><a href="/users/form" role="button">회원가입</a></li>
                
                <li><a href="#" role="button">로그아웃</a></li>
                <li><a href="#" role="button">회원정보수정</a></li>
            </ul>
        </div>
    </div>
</div>